#r2203_ily-but-idk {
  width: 550px;
  --accent1: #DF9638;
  --accent2: #AEAA9D;
  --accent3: #101A13;
  --accent4: #afe4e4;
  --accent5: #935153;
  --accent6: #afe4e4;
  --background: #fdfdfd;
  --border: #dfebeb;
  --title: #000;
  --text: #000;
}

#r2203_ily-but-idk .rwrapper {
  padding: 70px;
  background: var(--background);
  border: 30px solid var(--border);
  position: relative;
}

#r2203_ily-but-idk .rdec {
  width: 30px;
  height: 250px;
  background: var(--accent5);
  position: absolute;
  bottom: 0;
  left: 0;
}

#r2203_ily-but-idk .rdec::after {
  content: "";
  width: 15px;
  height: 200px;
  background: var(--accent6);
  position: absolute;
  bottom: 10px;
  left: 20px;
}

#r2203_ily-but-idk .rtitle {
  float: right;
  margin: 0 0 20px;
  display: inline-block;
  font: bold 17px/100% 'JetBrains Mono';
  color: var(--title);
  letter-spacing: 10px;
  position: relative;
}

#r2203_ily-but-idk .rtitle i {
  font-style: normal;
  position: relative;
  z-index: 1;
}

#r2203_ily-but-idk .rtitle::after {
  content: "";
  display: block;
  width: 80%;
  height: 12px;
  background: var(--accent1);
  position: absolute;
  top: 55%;
  right: -15px;
}

#r2203_ily-but-idk .rtitle1 {
  float: right;
  margin: 0 0 20px;
  display: inline-block;
  font: bold 17px/100% 'JetBrains Mono';
  color: var(--title);
  letter-spacing: 10px;
  position: relative;
}

#r2203_ily-but-idk .rtitle1 i {
  font-style: normal;
  position: relative;
  z-index: 1;
}

#r2203_ily-but-idk .rtitle1::after {
  content: "";
  display: block;
  width: 80%;
  height: 12px;
  background: var(--accent2);
  position: absolute;
  top: 55%;
  right: -15px;
}

#r2203_ily-but-idk .rtitle2 {
  float: right;
  margin: 0 0 20px;
  display: inline-block;
  font: bold 17px/100% 'JetBrains Mono';
  color: var(--title);
  letter-spacing: 10px;
  position: relative;
}

#r2203_ily-but-idk .rtitle2 i {
  font-style: normal;
  position: relative;
  z-index: 1;
}

#r2203_ily-but-idk .rtitle2::after {
  content: "";
  display: block;
  width: 80%;
  height: 12px;
  background: var(--accent3);
  position: absolute;
  top: 55%;
  right: -15px;
}

#r2203_ily-but-idk .rtitle3 {
  float: right;
  margin: 0 0 20px;
  display: inline-block;
  font: bold 17px/100% 'JetBrains Mono';
  color: var(--title);
  letter-spacing: 10px;
  position: relative;
}

#r2203_ily-but-idk .rtitle3 i {
  font-style: normal;
  position: relative;
  z-index: 1;
}

#r2203_ily-but-idk .rtitle3::after {
  content: "";
  display: block;
  width: 80%;
  height: 12px;
  background: var(--accent4);
  position: absolute;
  top: 55%;
  right: -15px;
}
#r2203_ily-but-idk .rtxt {
  clear: both;
  font: 12px/150% 'Source Sans Pro';
  letter-spacing: .5px;
  color: var(--text);
  text-align: justify;
}

#r2203_ily-but-idk:after {
  display: block;
  content: "「R」";
  font: bold 7px/12px 'Arial';
  text-transform: uppercase;
  opacity: .3;
}

#r2203_ily-but-idk:hover::after {
  content: "「ROSS RESOURCES」";
}
